.box {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid1 {
    margin: 2% 0 !important;
}

.box1 {
    width: 100%;
    max-width: 400px;
}

.colorGreen {
    color: #4aa96c;
    transition: color 0.3s ease-in;
}

.colorRed {
    color: #D83A56;
    transition: color 0.3s ease-in;
}

.colorBlack {
    color: #5B5656;
    transition: color 0.3s ease-in;
}

.colorGreen:hover{
    color: #1E6F5C;
}

.colorRed:hover {
    color: #8F1537;
}

.colorBlack:hover {
 color: #000;
}

.formControl {
    width: 100px;
}

.formGroup {
    width: 100px;
}